.chart-pie {
  transform: scale(0.6);
}
#content-wrapper {
  position: fixed;
  top: 0px;
  left: 224px;
}
#content {
  width: 83vw;
}
.sticky-footer {
  display: none;
}
.pie-chart {
  text-align: center;
}
