.row > div:nth-child(1) {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
.row > div:nth-child(1) label {
  display: flex;
}
.row > div:nth-child(2) {
  display: flex; /* justify-self: flex-end; */
  align-self: center;
  justify-content: end;
}
#content-wrapper {
  position: fixed;
  left: 224px;
  top: 0px;
  width: calc(100% - 224px);
}
.card-body {
  max-height: 500px;
  overflow: auto;
}
.container-cart.container {
  max-height: 500px;
  overflow: auto;
}

.table th,
.table td {
  vertical-align: baseline;
}
img {
  max-width:100px;
  max-height:100px;
}