.button_container {
  height: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
/*
.update-button {
  float: right;
  cursor: pointer;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 2.05;
  height: 100%;
}
.update-button:hover,
.update-button:focus {
  background-color: #f082ac;
}
#add-button {
  float: right;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 8px;
}
#add-button:hover,
#add-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
#add-button:hover {
  transform: translateY(-1px);
}

.heading {
  font-size: 20px;
  color: #ab8181;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #e45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5d4c46;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}

@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
*/
.row > div:nth-child(1) {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
.row > div:nth-child(1) label {
  display: flex;
}
.row > div:nth-child(2) {
  display: flex; /* justify-self: flex-end; */
  align-self: center;
  justify-content: end;
  align-items: center;
}
tr td:nth-child(6) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: start;
}
ul.navbar-nav.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
}
.table-responsive {
  padding-left: 20px;
}
#content-wrapper {
  position: fixed;
  left: 224px;
  top: 0px;
  width: calc(100% - 224px);
}

#product_select {
  display: flex;
  flex-wrap: nowrap;
  width: 96%;
  align-items: center;
}
.flex {
  display: flex;
}
.card-body {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
label {
  margin-right: 20px;
  white-space: nowrap;
  line-height: 33px;
}
input {
  border-radius: 0;
}
.cursor {
  cursor: pointer;
}
#image-1,
#image-2,
#image-3 {
  min-width: 187px;
}
#product_list_cover {
  max-width: 80px;
  max-height: 80px;
}
div#dataTable_filter {
  float: right;
}
.top-100 {
  margin-top: 100px;
}
.top-45 {
  margin-top: 45px;
}

/* CSS */
.button-20 {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.button-20:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-20:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
.card-body {
  padding-top: initial;
}
.table-responsive {
  overflow-x: hidden;
}
.input-group{
  display: none;
}