.button_container {
  height: 40px;
}
.update-button {
  float: right;
  cursor: pointer;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 2.05;
  height: 100%;
}
.update-button:hover,
.update-button:focus {
  background-color: #f082ac;
}
#add-button {
  float: right;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 8px;
}
#add-button:hover,
#add-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
#add-button:hover {
  transform: translateY(-1px);
}
.hedding {
  font-size: 20px;
  color: #ab8181;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #e45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5d4c46;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}

@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
.container-fluid {
  position: fixed;
  left: 213px;
  width: calc(100% - 224px);
}
body {
  position: relative;
}
ul.navbar-nav.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
}
div#content-wrapper {
  position: absolute;
  margin-left: 223px;
  top: 0px;
}
#product_select {
  display: flex;
  flex-wrap: nowrap;
  width: 96%;
  align-items: center;
}
.flex {
  display: flex;
}
.card-body {
  max-height: 500px;
  overflow: auto;
}
label {
  margin-right: 20px;
  white-space: nowrap;
  line-height: 33px;
}
#image-1,
#image-2,
#image-3 {
  min-width: 187px;
}
